/* サワラビゴシックが効いているのかどうか？ */

.font_sawarabi{
    font-family: 'Sawarabi Gothic', sans-serif;
}
.hover_white:hover, .hover_white:focus{
    color: white;
}

.body{
    width: 100%;
    font-family: 'Noto Serif JP', serif;
     /* height:2000px; */
    /* ^効果がない */
    color: rgba(255, 255, 255, 0.76);
    background-color: black;
}

#mainImage{
    width: 100%;
    height: 800px;
    background-image: url(../img/candle_2.jpg);
    background-size: cover;
    background-position: center;
}
#mainImage_2{
    /* ページ内のコンテンツが長くなる可能性があるページに使うmainImage(copyrightと被ってしまうため) */
    width: 100%;
    min-height: 800px;
    background-image: url(../img/candle_2.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
}

/* ok */
/* menu */
nav a{
    color: whitesmoke;
}

nav a:hover{
    text-decoration: none;
}

#account_area{
    color: tomato;
}

/* ok */
/* menu_visit */ 
#login a{
    font-family: 'Sawarabi Gothic', sans-serif; 
}

/* ok */
/* copyright.php */
#copyright{
    text-align: end;
    opacity: 0.3;
    margin-top: 100px;
}

/* ok */
/* home */
#inst{
    padding-top: 200px;
    margin-left: 140px;
}

#storyArea{
    width: 700px;
    height: 1000px;
    background-image: url(../img/hand.jpeg);
    position: relative;
    /* margin-top: 30px; */
}

#under{
    width: 100%;
    height: 1000px;
    background-color: black;
    opacity: 0.7;
    position: absolute;
}

#over{
    width: 600px;
    color: whitesmoke;
    position: absolute;
    margin: 50px auto auto 50px;
    /* height: auto; */
}

#over p{
    font-family: 'Sawarabi Gothic', sans-serif;
}

/* ok */
/* login.php */
#login_1{
    width: 500px;
    opacity:0.7;
    padding-top: 100px;
}

/* ok */
/* signin.php */
#signin_1{
    /* position: absolute; */
    /* top: 250px; */
    /* left: 330px; */
    width: 500px;
    opacity:0.7;
    padding-top: 100px;
    /* margin-left: auto;
    margin-right: auto; */
}

/* ok */
/* story.php */
#story_main, #mystory_main{
    width: 60%;
    padding-top: 70px;
}
/* #user_edit_1 */

#story_content{
    color: white;
}
.comm_area{
    color: black;
    background-color: white;
    opacity: 0.7;
}
#story_bottom{
    width: 60%;
    margin-top:80px;
}

/* ok */
/* mystories.php */
#mystory_main h4{
    margin-bottom: 70px;
}

#mystory_main p{
    font-family: 'Sawarabi Gothic', sans-serif;
}

/* ok */
/* form_story.php */
.storyform_area{
    width: 45%;
    padding-top: 120px;
}


#signin_1 form{
    /* background-color:gray; */
}
#signin_1 div{
    /* z-index: 10;
    color: black; */
}

/* #mainImage #gray{
    width: 80%;
    height: auto;
    background-color: gray;
    /* position: absolute; */
    /* opacity: 0.2; */
/* } */


















#sField{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}




/* users.php */
#adminImage{
    width: 100%;
    height: 800px;
    position: relative;
}

#adminImage #kumo{
    width: 100%;
    height: 100%;
    background-image: url(../img/kumo.jpg);
    background-size: cover;
    background-position: 85% 15%;
    opacity: 0.3;
}

#adminImage #clear{
    position: absolute;
    top: 100px;
    left: 400px;
    color: red;
}

#clear table{
    background-color: transparent;
}

/* ayakas.php */
#ayakas_1{
    position: absolute;
    top: 250px;
    left: 330px;
    color: red;
}
