/* サワラビゴシックが効いているのかどうか？ */

/* ok */
/* 全ファイルに関わるスタイル */
.font_sawarabi{
    font-family: 'Sawarabi Gothic', sans-serif;
}
.hover_white:hover, .hover_white:focus{
    color: white;
}

.body{
    width: 100%;
    font-family: 'Noto Serif JP', serif;
     /* height:2000px; */
    /* ^効果がない */
    color: rgba(255, 255, 255, 0.76);
    background-color: black;
}

.scaring{
    background-image: url(../img/horror_woman.jpeg);
    background-size: 100% auto;
    background-position: 0% 21%;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: darken;
}

#mainImage{
    width: 100%;
    height: 800px;
    background-image: url(../img/candle_2.jpg);
    background-size: cover;
    background-position: center;
}
#mainImage_2{
    /* ページ内のコンテンツが長くなる可能性があるページに使うmainImage(copyrightと被ってしまうため) */
    width: 100%;
    min-height: 800px;
    background-image: url(../img/candle_2.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
}

/* ok */
/* menu */
nav a, .nav-item button{
    color: whitesmoke;
}

nav a:hover{
    text-decoration: none;
}

#account_area{
    color: tomato;
}

/* ok */
/* menu_visit */ 
#login a{
    font-family: 'Sawarabi Gothic', sans-serif; 
}

/* ok */
/* menu_ban */ 
/* ボタン選択時でも影がつかないようにする */
.nav-item button.active, 
.nav-item button.active.focus, 
.nav-item button.active:focus, 
.nav-item button.focus, 
.nav-item button.focus:active, 
.nav-item button:active, 
.nav-item button:active:focus, 
.nav-item button:focus
{
    outline: 0;
    outline-offset: 0;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ok */
/* copyright.php */
#copyright{
    text-align: end;
    opacity: 0.3;
    margin-top: 100px;
}

#copyright a{
    text-decoration: none;
}

/* ok */
/* home */
#inst{
    padding-top: 200px;
    margin-left: 140px;
}

#storyArea{
    width: 700px;
    height: 1300px;
    background-image: url(../img/hand.jpeg);
    position: relative;
    /* margin-top: 30px; */
}

#under{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
}

#over{
    width: 600px;
    color: whitesmoke;
    position: absolute;
    margin: 0 auto auto 50px;
    padding-top: 50px;
    height: 100%;
}

#over p{
    font-family: 'Sawarabi Gothic', sans-serif;
}

/* #datas-all-pager{
    position: absolute;
    bottom: 20%;
} */

/* ok */
/* login.php */
#login_1{
    width: 500px;
    opacity:0.7;
    padding-top: 100px;
}

/* ok */
/* signin.php */
#signin_1{
    /* position: absolute; */
    /* top: 250px; */
    /* left: 330px; */
    width: 500px;
    opacity:0.7;
    padding-top: 100px;
    /* margin-left: auto;
    margin-right: auto; */
}

/* ok */
/* story.php */
#story_main, #mystory_main{
    width: 60%;
    padding-top: 70px;
}

#story_content{
    color: white;
}
.comm_area{
    color: black;
    background-color: white;
    opacity: 0.7;
}
#story_bottom{
    width: 60%;
    margin-top:80px;
}

/* ok */
/* mystories.php */
#mystory_main h4{
    margin-bottom: 70px;
}

#mystory_main p{
    font-family: 'Sawarabi Gothic', sans-serif;
}

/* ok */
/* form_story.php */
.storyform_area{
    width: 45%;
    padding-top: 120px;
}

/* ok */
/* users.php、ayakas.php */
#admin_area{
    width: 100%;
    min-height: 800px;
    background-color: black;
    position: relative;
}

#user_list, #ayakas_area{
    width: 60%;
    position: relative;
    z-index: 2;
}

#admin_bgimg{
    width: 100%;
    height: 800px;
    background-image: url(../img/tsuchikumo.jpg);
    background-size: 100% auto;
    background-position: 0% 15%;
    background-color:rgba(0,0,0,0.8);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    z-index: 1;
}

/* ayakas.php */
#ayakas_area{
    padding-top: 170px;
    margin-left: 38%;
    color: red;
}

/* 
#sField{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
} */







